* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 150px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
  margin-right: 55px;
  margin-right: 10px;
}
.nav-items > ul > li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}
.filter-btn {
  height: 40px;
  padding: 0 12px;
  margin: 15px 5px;

  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-logo {
  width: 100%;
  height: 45%;
  object-fit: cover;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.shimmer-card {
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 20px;
}
.logInBtn {
  padding: 20px;
  margin: 0 20px;
  cursor: pointer;
}
.filter {
  display: flex;
}
.search-container {
  padding: 10px 30px;
  margin: 5px 10px;
  cursor: pointer;
}
.search-container input {
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-btn {
  height: 40px;
  padding: 0 12px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}
